<section id="skills">
  <div class="container w-100 text-center">
    <h1>{{ 'skills.title' | translate }}</h1>
    <p class="intro-skills">
      {{ 'skills.description.part1' | translate }}
      <span class="text-secondary">
        {{ 'skills.description.part2' | translate }}
      </span>
    </p>
  </div>
  <section class="container w-100 text-center">
    @for (item of items; track item) {
    <div class="container-fluid mb-5">
      <h3 class="text-light">{{ item.name }}</h3>
      <div class="d-flex flex-row justify-content-center flex-wrap">
        @for (technology of item.tecnology; track technology) {
        <div class="d-flex flex-column align-items-center m-2">
          <img
            class="technology-icon"
            [src]="technology.src"
            alt=""
            width="60"
            height="60"
          />
          <p>{{ technology.name }}</p>
        </div>
        }
      </div>
    </div>
    }
  </section>
</section>