<section id="education">
  <section class="container">
    <h1>{{ 'education.title' | translate }}</h1>
    <div class="row d-flex justify-content-center m-2">
      <div class="col-sm-6 col-md-3 bg-dark">
        <div class="container-fluid">
          <h5 class="text-secondary">
            {{ 'education.university.title' | translate }}
          </h5>
          <p>
            {{ 'education.university.description' | translate }}
          </p>
          <p class="fecha bg-success">{{ 'education.university.date' | translate }}</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 bg-dark">
        <div class="container-fluid">
          <h5 class="text-secondary">
            {{ 'education.technician.title' | translate }}
          </h5>
          <p>
            {{ 'education.technician.description' | translate }}
          </p>
          <p class="fecha bg-success">{{ 'education.technician.date' | translate }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container w-100">
    <h1 class="certifications">{{ 'education.certifications.title' | translate }}</h1>
    <div class="row d-flex justify-content-center m-2">
      <div class="col-sm-6 col-md-3 bg-dark">
        <div class="container-fluid">
          <h5 class="text-secondary">{{ 'education.certifications.javascript.title' | translate }}</h5>
          <p>
            {{ 'education.certifications.javascript.description' | translate }}
          </p>
          <div class="container-fluid text-center">
            <a
              href="https://www.udemy.com/certificate/UC-03d072a4-8200-4779-bd3d-91de490390d8/"
              class="credencial bg-success text-white d-inline-block mt-2"
              target="_blank"
              rel="noopener noreferrer"
              >{{ 'education.certifications.button' | translate }}</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 bg-dark">
        <div class="container-fluid">
          <h5 class="text-secondary">{{ 'education.certifications.frontend.title' | translate }}</h5>
          <p>
            {{ 'education.certifications.frontend.description' | translate }}
          </p>
          <div class="container-fluid text-center">
            <a
              href="https://drive.google.com/file/d/1WvHbfv3OjkuO_87GogD-jCkWolA91gB4/view"
              class="credencial bg-success text-white d-inline-block mt-2"
              target="_blank"
              rel="noopener noreferrer"
              >{{ 'education.certifications.button' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>