<section id="about">
  <section class="container w-100">
    <h1>Sobre mí</h1>
    <div class="row d-flex justify-content-center m-2">
      <div class="col-sm-6 col-md-3">
        <div class="container-fluid">
          <h4>Estudiante Avanzado de TUDAI</h4>
          <p>Soy estudiante avanzado de la Tecnicatura en Desarrollo de Aplicaciones Informáticas en UNICEN. Tengo conocimientos sólidos en las bases de la programación. Actualmente estoy en el tercer año de la carrera.</p>
          <p class="fecha">2022 - Actualmente</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="container-fluid">
          <h4>Master en JavaScript en Udemy</h4>
          <p>He completado un curso de Master en JavaScript en Udemy, donde he profundizado mis habilidades en este lenguaje fundamental para el desarrollo web y de aplicaciones.</p>
          <p class="fecha">2022 - 2023</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="container-fluid">
          <h4>Técnico en Informática</h4>
          <p>Poseo el título de "Técnico en Informática" obtenido en la Escuela Secundaria Técnica N° 3 (EEST). Donde pude adquirir conocimientos basicos de Visual Basic, bases de datos, mantenimiento de hardware y software, etc</p>
          <p class="fecha">Graduado en 2014</p>
        </div>
      </div>
    </div>
  </section>
</section>
