<!-- Barra de navegacion -->
<div class="content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" routerLink="" fragment="home">Home</a>
            <a class="nav-link" routerLink="" fragment="about">About</a>
            <a class="nav-link" routerLink="" fragment="projects">Projects</a>
            <a class="nav-link" routerLink="" fragment="skills">Skills</a>
            <a class="nav-link" routerLink="" fragment="contact">Contact</a>
          </div>
        </div>
      </div>
    </nav>
  
  <!-- Secciones de la página -->
  <div id="home">
    <app-home></app-home>
  </div>
  <div id="about">
    <app-about></app-about>
  </div>
  <div id="projects">
    <app-projects></app-projects>
  </div>
  <div id="skills">
    <app-skills></app-skills>
  </div>
  <div id="contact">
    <app-contact></app-contact>
  </div>
  
  <router-outlet></router-outlet>
  