<section class="container w-100">
  <div class="container-fluid">
    <h1>
      Hola! soy
      <span>Federico</span>
    </h1>
    <h3>Desarrollador Full-Stack</h3>
    <p>
      Tengo 28 años y vivo en Necochea. Soy estudiante avanzado de la
      Tecnicatura en Desarrollo de Aplicaciones Informáticas (TUDAI) en la
      Universidad Nacional del Centro de la Provincia de Buenos Aires (UNICEN).
      Estoy buscando mi primer empleo profesional en el ámbito del desarrollo de
      software. Aspiro a crecer profesionalmente y a ser parte de un equipo de
      trabajo dinámico y colaborativo.
    </p>
  </div>
  <div class="container-fluid">
    <img
      class="mi-foto"
      src="/assets/img/mi-foto.png"
      alt="Federico Cordeiro"
      height="300px"
      width="380px"
    />
  </div>
</section>
<div class="container-button">
  <a
    id="button-cv"
    href="/assets/pdf/CORDEIRO FEDERICO - CV.pdf"
    target="_blank"
    download="Cordeiro Federico - CV"
    class="btn btn-outline-light"
    >Descargar CV</a
  >
</div>
