<section class="container w-100">
  <div class="container-fluid">
    <h1>
      {{ 'home.hello' | translate }} <span class="text-secondary">Federico</span>
    </h1>
    <h3 class="text-light text-xl-center">{{ 'home.developer' | translate }}</h3>
    <p>
      {{ 'home.description1' | translate:{ age: age } }}
      {{ 'home.description2' | translate }}
    </p>
  </div>
  <div class="container-fluid d-flex align-items-center justify-content-center">
    <img
      class="mi-foto"
      src="/assets/img/fotoAI.png"
      alt="Federico Cordeiro"
    />
  </div>
</section>

<!-- Botones sociales + CV -->
<div class="container-actions">
  <a href="https://www.linkedin.com/in/cordeirofederico/" target="_blank" class="btn btn-dark action-btn">
    <img class="social-icon" src="/assets/icons/linkedin.svg" alt="LinkedIn" width="20" height="15">LinkedIn
  </a>
  <a href="/assets/pdf/CORDEIRO FEDERICO - CV.pdf" target="_blank" download="Cordeiro Federico - CV" class="btn btn-dark action-btn">
    <img class="social-icon" src="/assets/icons/download.svg" alt="Cv" width="23" height="23">
    {{ 'home.cv' | translate }}
  </a>
  <a href="https://github.com/FedeCordeiro" target="_blank" class="btn btn-dark action-btn">
    <img class="social-icon" src="/assets/icons/github.svg" alt="GitHub" width="20" height="20">GitHub
  </a>
</div>
