h1 {
    margin-top: 50px;
    font-weight: bold;
}

h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 25ch;
    animation: typing 2s steps(25, end),
    blink .5s infinite step-end alternate;
    overflow: hidden;
    animation-delay: .5s;
}

span {
    color: rgb(0, 234, 255);
}

p {
    font-size: 20px;
}

@keyframes typing {
    from { width: 0}
}

@keyframes blink {
    50% { border: transparent}
}

.mi-foto {
    margin-top: 20px;
    transition: 0.3s;
    filter: drop-shadow(0 0 10px white);
    mask-image: linear-gradient(black 70%, transparent 100%);
}

.mi-foto:hover {
    transition: 0.3s;
    filter: drop-shadow(0 0 20px rgb(0, 234, 255));
}

.container-social-icon {
    display: flex;
    justify-content: center;
}

.social-icon {
    transition: 0.3s;
    box-shadow: (0 0 15px rgb(0, 234, 255));
    border-radius: 50%;
    margin: 15px;  
}

.social-icon:hover {
    transition: 0.3s;
    box-shadow: (0 0 25px rgb(0, 234, 255));
}

.container-button {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 180px;
    height: 50px;
    transition: 0.3s;
    filter: drop-shadow(0 0 20px rgb(0, 234, 255));
    font-size: 20px;
}

@media screen and (min-width: 768px) { 
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mi-foto {
        margin: 50px;
        width: 470px;
        height: 380px;
    }
}