<section class="container w-100">
  <div class="container-fluid">
    <h1>
      Hola! soy
      <span>Federico</span>
    </h1>
    <h3>Desarrollador Full-Stack</h3>
    <p>
      Tengo {{age}} años y vivo en Necochea. Soy estudiante avanzado de la
      Tecnicatura en Desarrollo de Aplicaciones Informáticas (TUDAI) en la
      Universidad Nacional del Centro de la Provincia de Buenos Aires (UNICEN).
    </p>
  </div>
  <div class="container-fluid d-flex align-items-center justify-content-center">
    <img
      class="mi-foto"
      src="/assets/img/mi-foto.png"
      alt="Federico Cordeiro"
      height="363px"
      width="266px"
    />
  </div>
</section>
<div class="container-social-icon">
  <a href="https://www.linkedin.com/in/cordeirofederico/" target="_blank">
    <img class="social-icon" src="/assets/icons/linkedin.svg" alt="LinkedIn" width="50" height="50">
  </a>
  <a href="https://github.com/FedeCordeiro" target="_blank">
    <img class="social-icon" src="/assets/icons/github2.svg" alt="GitHub" width="50" height="55">
  </a>
</div>
<div class="container-button">
  <a
    id="button-cv"
    href="/assets/pdf/CORDEIRO FEDERICO - CV.pdf"
    target="_blank"
    download="Cordeiro Federico - CV"
    class="btn btn-outline-light"
    >Descargar CV</a
  >
</div>
