<section id="projects">
  <h1>Proyectos</h1>
  <div class="portfolio-container">
    @for ( item of items; track item){
    <article class="portfolio-item">
      <h3>{{ item.name }}</h3>
      <div class="portfolio-img">
        <img [src]="item.src" [alt]="item.name">

      </div>
      <div class="portfolio-bottom-card">
        <div class="portfolio-item-bottom">
          <div class="items-technologies">
            @for (tecnology of item.tecnology; track tecnology){
            <img class="technology-icon" [src]="tecnology.src" alt="">
          }
          </div>
        </div>
        <div class="portfolio-item-cta">
          <div class="buttons">
            <a
            [href]="item.github"
            class="btn btn-primary"
            target="_blank">
              <i class='bx bxl-github'></i> Github
            </a>
            <a
            [href]="item.link"
            class="btn btn-primary"
            target="_blank">
            <i class='bx bxs-send'></i> Demo
          </a>
          </div>
        </div>
      </div>
    </article>
  }

  </div>
</section>