<section id="projects">

  <h1>{{'nav.projects' | translate}}</h1>

  <div class="portfolio-container">
    @for (item of items; track item) {
    <article class="portfolio-item bg-dark">
      <h3>{{ item.name }}</h3>
      <div class="portfolio-img">
        <img [src]="item.src" [alt]="item.name" />
      </div>

      <div class="portfolio-bottom-card">
        <div class="portfolio-item-bottom">
          <div class="items-technologies">
            @for (tecnology of item.tecnology; track tecnology) {
            <img class="technology-icon" [src]="tecnology.src" alt="" />
            }
          </div>
        </div>

        <div class="portfolio-item-cta">
          <div class="buttons">
            <a [href]="item.github" class="btn" target="_blank">
              <i class="bx bxl-github"></i> <img src="/assets/icons/github.svg" width="30" height="20">
            </a>
              
            @if (item.link && item.link.trim() !== '') {
              <a [href]="item.link" class="btn" target="_blank">
                <i class="bx bxs-send"></i><img src="/assets/icons/external-link.svg" width="30" height="20">
              </a>
            }
          </div>
        </div>
      </div>
    </article>
    }
  </div>
</section>
